


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    text-align: justify;
    font-size: 1.0rem;
    line-height: 1.5rem;
    color: #1d0f28;
}

ul {
    text-align: left;
}

.navbar {
    font-family: 'Roboto Slab', serif;
}

a {
  color: #e64e46;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover,
a:focus {
  color: #140f13;
  text-decoration: none;
  transition: all 0.3s;
}

h1 {
    font-family: 'Roboto Slab', serif;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}
h2 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}
h5 {
    font-weight: 600;
}


.btn-apply {
    font-family: 'Poppins', sans-serif;
    color: #ffff!important;
    background-color: #e64e46;
    border-color: #e64e46;
}
.btn-apply:hover {
  color: #ffff;
  background-color: #a13731;
  border-color: #732723;
}

.btn-apply:focus, .btn-apply.focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 78, 70, 0.6);
}

.btn-link {
    color: #a13731;
}
.btn-link:hover {
    color: #1d0f28;
}

.jumbotron {
    margin-top: -14px;
    padding: 10px;
}
.jumbotron > .container > h1 {
    margin: 8px 0px;
}

.navbar-dark {
    background-color: #1d0f28!important;
}

.navbar-brand {
    font-size: 1.8rem;
    margin-right: 40px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.anchor {
    padding-top: 30px;
}

.par {
  font-weight: 600;
  color: #140f13;
}

.emph {
  font-weight: 600;
  color: #e64e46;
}

.emphlink {
  color: #e64e46;
}

#content {
  width: 100%;
  padding: 0px 0px;
  margin-top: 70px;
  margin-bottom: 140px;
  transition: all 0.3s;
}


.alert-dark {
    color:  #1d0f28;
    background-color: #e5d7c4;
    border-color: #BE9C6C;
}


.card-header {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
}



/* People Media
/* ------------------------------------------------------------------ */
.media {
  min-height: 135px;
  padding: 7.5px;
  border: 1px solid lightgray;
  background-color: #fcfaf8;
  border-radius: 2.5px;
  margin-top: 10px;
}

.media > img {
  height: 120px;
  margin-right: 15px;
  border-radius: 2.5px;
  overflow: hidden;
}

.name {
  font-weight: 400;
  height: 60px;
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-align: left;
}

.inst {
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.0rem;
  min-height: 35px;
}

.contact {
  height: 20px;
  text-align: right;
  vertical-align: bottom;
}

.btn-sm {
  padding: 4px;
  font-size: 12px;
  line-height: 1;
}


/*==================================
    TIMELINE
==================================*/

/*-- GENERAL STYLES
    ------------------------------*/
.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #999;
}

/*----- TIMELINE ITEM -----*/

.timeline-title {
  font-size: 1.2rem;
  font-weight: 400;
  color: #777;
}

.timeline-item {
  padding-left: 40px;
  position: relative;
  padding-bottom: 0;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/

.timeline-info {
  font-size: 0.85rem;
  font-weight: 700;
  color: #444;
  letter-spacing: 1px;
  margin: -5px 0 .5em 0;
}

/*----- TIMELINE MARKER -----*/

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: #e64e46;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child &:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #e64e46;
}

.done.timeline-marker:before {
  background: transparent;
  border: 3px solid #615769;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
}

.timeline-item:not(.period):hover .done.timeline-marker:before {
  background: transparent;
  border: 3px solid #615769;
}

/*----- TIMELINE CONTENT -----*/

.timeline-content {
  padding-bottom: 15px;
}

.timeline-content:last-child {
  margin-bottom: 0;
}
